.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.onnx
models/embedder_arcface.onnx
*.zip
*.tar
*.gz
*.npz
*.npy
*.db
*.sqlite
*.sqlite3
models/
data/db/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.tmp
*.bak
*.swp
*.swo
